* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    background-color: black;
    color: gray;
}

.title {
    margin: auto;
    text-align: center;
}

.message-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form-container > input,textarea {
    text-align: center;
    background-color: lightskyblue;
    border-radius: 10px;
    border: 1px solid gray;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: rgb(26, 21, 33);
    width: 70%;
    height: fit-content;
    overflow: auto;
}

.message-header,
.message-body {
    padding: 10px;
    overflow-wrap: break-word;
    text-overflow: clip;
}

.message-header,
.message-body > h2,h3,h4 {
    font-size: 3vmin;
}

.card-btn {
    border: 1px solid red;
    position: relative;
    left: 45%;
} */

.message-container {
    background-color: rgb(26, 21, 33);
    display: grid;
    grid-template-columns: 1.4fr 1.3fr 0.3fr; 
    grid-template-rows: 0.8fr 1.2fr 1fr; 
    grid-template-areas: 
    "title . buttons"
    "author text ."
    "date text ."; 
}

.message-title {
    grid-area: title;
}

.message-author {
    grid-area: author;
}

.date-field {
    grid-area: date;
}

.message-text {
    grid-area: text;
}

.card-btn {
    grid-area: buttons;
}
