* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    background-color: black;
    color: gray;
}

.title {
    margin: auto;
    text-align: center;
}

.message-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form-container > input,textarea {
    text-align: center;
    background-color: lightskyblue;
    border-radius: 10px;
    border: 1px solid gray;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid red;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
    overflow: hidden;
}

.message-header,
.message-body,
.card-btn-edit,
.card-btn-del {
    margin: 10px;
    padding: 10px;
    flex: 40%;
}

.message-header,
.message-body > h2,h3,h4 {
    font-size: 1.5vw;
}

.card-btn-edit,
.card-btn-del {
    border: 3px solid red;
    align-self: flex-end;
    margin: 0.1rem;
    max-width: 5vw;
    max-height: 3vh;
}